
*{
    background-color: #120f12;
    color: aliceblue;
    height: 150px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav a{
    list-style: none;
    color: rgba(249, 249, 243, 0.932);
    text-decoration: none;
}
.tagline1{
    width: 10px;
    height: 50px;
}
.intag{
    color: black;
    background-color: bisque;
    padding: 10px;

}
.parag{
    padding: 20px;
    text-size-adjust: 20px;
}
#txt{
    background-color: rgb(253, 253, 4);
    color: black;
    
}
.para{
    font-size: 50px;
}
.nav{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 50px;
}
.parag{
    width: 70%;
}
button{
    background-color: yellow;
    height: 40px;
    color: black;
    border-radius: 30px;
    padding: 10px;
}
.btn{
    background-color: white;
}
.img{
    padding-left: 10px;
}
.pa{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.pa2 img{
    height: 500px;
    width: auto;
    padding-right: 30px;
    padding-bottom: 120px;
    
}
.h1n
{
    
}